 body {margin:0px auto;}
.wrapper {width:100%; margin:0px auto;}
.header {background: #EFEFEF;margin:0px auto;}
.header-fix { width:75%;margin: 0px auto; padding:20px;}
.header-right { width:36%;float:right;}
.header-list {list-style-type:none;}
.header-a1 {text-decoration:none; float: left;color:#FFF;background:#0EA2D3;border-bottom:2px solid #587984; padding:5px 42px; margin-right:20px;}
.header-a2 {text-decoration:none; float: left;color:#FFF;background:#F57B20;border-bottom:2px solid #CA8241;padding:5px 45px; }
.menu {width:100%;margin: 0px auto;background:#77787B;padding-bottom: 0px;}
.menu-box {width:75%;margin:0px auto;}
.menu-list {list-style-type:none; margin:0px auto; padding:20px;  text-align:left; }
.list-k {position:relative;float:left;}
.list-k > .sub-menu{display:none; position:absolute;}
.list-k:hover .sub-menu{display:block; }
.sub-menu {list-style-type:none;background: #fff;display: none;position: absolute;left: 0px;top: 35px;width: 195px; padding-left: 0px}
.sub-menu li {    float: none;}
.menu-aa{text-decoration:none;    border-bottom: 1px solid #dfdfdf;color: #5d5d5d;display: block; padding: 13px 12px;}
.menu-aa:hover {background:#EFEFEF;}
.search-btn {float:right;margin-top: -20px;}
.menu-a {text-decoration:none; float:left; color:#FFF;  display: block;position: relative; text-align:center;padding:0px 15px 15px 15px; margin-bottom: -15px; }
.menu-a:hover {background:#77787B;color:#F57B20; border-bottom:2px solid #F57B20;}
.active {background:#77787B;color:#F57B20; border-bottom:2px solid #F57B20;}
#search-box {width:75%;margin:0px auto; background:#77787B;padding-top: 20px;}
#search-box ul {list-style-type:none;}
.search-input {float:left; width:95%; margin-top: -20px;margin-left: -5px; }
.txt-input {background: #efefef; border: 1px solid #d2d2d2;padding: 12px; margin-top: -10px; width: 90%;}
.img-close {float:right; width:5%;    margin-top: -20px;margin-right: -35px;}

/*********************************/
.content {width:75%; margin:0px auto; padding: 20px 0px ;}
.report {margin-bottom:20px;}
.topic-path {margin:0px;}
.clearfix {margin-bottom:20px; list-style-type:none;}
.clearfix li {color:#F57B20; margin-left:-40px;}
.clearfix li a {text-decoration:none; color:#675D85; padding-right:10px;}
.report-tab {margin:0px auto; height:50px;}
.clearfix1 {list-style-type:none;    margin-left: -40px;}
.clearfix1 li {background:#C0C0C0;width: 330px; padding:15px 0px; text-align: center; float: left; margin-right:5px; }
.link { text-decoration :none;}
.clearfix1 span {color:#FFF;}
.link:hover {background:#F57B20;padding:15px; display:block; margin:-15px 0; }
.main-topic { margin-top: 20px;}
.clearfix2 {}

.report-content{margin-bottom:20px; position:relative;}
.report-content a {text-decoration:none; display:block; color:#F57B20;}
.report-boxbg {background: #5a5a5a; width: 50%; min-height: 276px; position: absolute; top: 0;right: 0; margin-top:0px;}
.report-box {color: #fff;padding: 20px; position: absolute;top: 0;right: 0;width: 460px;}
.report_title {margin: 0 0 7px;padding: 0 0 8px;border-bottom: 2px solid #fff;flex-direction: column;align-items: flex-start;width: 100%; font-weight:bold;}
.txt_date {font-weight:bold;}
.h2-title {font-size:20px;margin-bottom:20px;margin-top:0px;}
.list-report {display: flex;flex-wrap: wrap; padding: 11px 11px;  background: #efefef; list-style-type:none;}
.list-report li { width: 240px; text-align: center; margin: 0 6px 0 0; float: left; background: #fff; padding: 0 0 15px;}
.list-report li a{height: 100%; display: block;text-decoration: none;}
.transparent { margin: 0 0 15px;}
.main-content {background: #efefef; padding: 20px;margin: 0 0 20px;}
.clearfix3 {background: #fff;margin: 0 0 20px; position: relative;}
.report-image {float:left; margin:0px;}
.report-right {float:right; padding: 15px 15px 0 0; width: 687px;}
.list-report2 {list-style-type:none;margin-left:-40px;}
.clearfix3 a {height: 100%;display: block;text-decoration: none;}
.report_title_news {color:#F57B20; font-weight:bold;}
.button {position: absolute;    bottom: 12px;right: 50px; width: 70px; height: 20px;}
.detail-link{background: #f57b20;color: #fff;display: inline-block;position: absolute; padding:0px 10px;}
.button:hover {background:#F8A263;}





/*********************************/
.footer {width:100%; padding: 18px 0 50px;; background:#77787B;}
.footer-inner {margin:0px auto;width:75%;}
.block-coloum{height:326px; margin-bottom :20px; }
.coloum1 {height:326px; float:left; border-right: 2px solid #696969;width:250px; margin-right:80px;}
.f-title {margin-bottom: -15px;}
.f-title span {border-bottom: 2px solid #dc7a32;color: #313131;display: inline-block;font-size: 16px !important;font-weight: bold;margin-bottom: 21px;padding: 0 10px 14px 0;}
.f-navi{list-style-type:none;margin-left: -40px;}
.f-navi li{padding-bottom: 10px;}
.f-navi li a {text-decoration:none;color:#FFF;}
.coloum2 {height:326px; float:left; border-right: 2px solid #696969; width:250px; color:#FFF;padding-right:70px;}
.f-contact {list-style-type:none; }
.f-contact li{margin-top:10px;line-height: 21px;text-indent: -30px;}
.f-contact li a{color:#FFF; text-decoration:none;}
.f-contact li a:hover{border-bottom:1px solid #FFF;}
.coloum3 {float:right;height:326px;width:250px;}
.footer-bottom {}
.footer-bottom p{ display: inline-block;vertical-align: middle;}
.coppy-right { font-size: 13px;line-height: 18px; padding-right: 19px;width: 445px;float:left; padding-top: 55px; color:#FFF;}
.coppy-right a{text-decoration:none; color:#F17A28;}
.coppy-right a:hover {border-bottom:1px solid #F17A28;}
.coppy-r {margin-top:10px;}
/*********************************/

.clearfix3:after,
.list-report2:after,
.content:after,
.report:after,
#search-box:after,
.warpper:after,
.header:after,
.menu:after,
.menu-box:after,
.footer:after,

.clearfix::after { content: "";clear: both; display: block;   height: 0; line-height: 0; visibility: hidden;}