 body {margin:0px auto;}
.wrapper {width:100%; margin:0px auto;}
.header {background: #EFEFEF;margin:0px auto;}
.header-fix { width:75%;margin: 0px auto; padding:20px;}
.header-right { width:36%;float:right;}
.header-list {list-style-type:none;}
.header-a1 {text-decoration:none; float: left;color:#FFF;background:#0EA2D3;border-bottom:2px solid #587984; padding:5px 42px; margin-right:20px;}
.header-a2 {text-decoration:none; float: left;color:#FFF;background:#F57B20;border-bottom:2px solid #CA8241;padding:5px 45px; }
.menu {width:100%;margin: 0px auto;background:#77787B;padding-bottom: 0px;}
.menu-box {width:75%;margin:0px auto;}
.menu-list {list-style-type:none; margin:0px auto; padding:20px;  text-align:left; }
.list-k {position:relative;float:left;}
.list-k > .sub-menu{display:none; position:absolute;}
.list-k:hover .sub-menu{display:block; }
.sub-menu {list-style-type:none;background: #fff;display: none;position: absolute;left: 0px;top: 35px;width: 195px; padding-left: 0px}
.sub-menu li {float: none;}
.menu-aa{text-decoration:none;    border-bottom: 1px solid #dfdfdf;color: #5d5d5d;display: block; padding: 13px 12px;}
.menu-aa:hover {background:#EFEFEF;}
.search-btn {float:right;margin-top: -20px;}
.menu-a {text-decoration:none; float:left; color:#FFF;  display: block;position: relative; text-align:center;padding:0px 15px 15px 15px; margin-bottom: -15px; }
.menu-a:hover {background:#77787B;color:#F57B20; border-bottom:2px solid #F57B20;}
.active {background:#77787B;color:#F57B20; border-bottom:2px solid #F57B20;}
#search-box {width:75%;margin:0px auto; background:#77787B;padding-top: 20px;}
#search-box ul {list-style-type:none;}
.search-input {float:left; width:95%; margin-top: -20px;margin-left: -5px; }
.txt-input {background: #efefef; border: 1px solid #d2d2d2;padding: 12px; margin-top: -10px; width: 90%;}
.img-close {float:right; width:5%;    margin-top: -20px;margin-right: -35px;}

/*********************************/
.content {width:75%; margin:0px auto; padding: 20px 0px ;}
.h2-title {font-size:20px;margin-bottom:20px;margin-top:0px;}
.box-content {background:#EFEFEF;padding:20px;}
.contact-title {color:#f57b20; font-weight:bold;margin-top:0px;}
.contact-left {float:left;width:400px;}
.contact-list {list-style-type:none;}
.contact-list li {margin-bottom:23px; color:#5D5D7C;}
.contact-list li img {float:left;vertical-align: middle;    margin-left: -40px;padding-right: 20px;}
.contact-list li a {color:#5D5D7C;text-decoration:none;}
.contact-list li a:hover {border-bottom:1px  solid #5D5D7C;}
.orange-txt strong {color:#F57B20; font-weight:bold;}
.link-list {list-style-type:none;}
.link-list li {margin-left:-40px;}
.link-list a{text-decoration:none;color:#f57b20; font-weight:bold;}
.link-list a:hover {color:#EBB184;}
.contact-right {float:right; width:535px;}
.size { background: #efefef;border: 1px solid #d2d2d2; height: 31px; padding-left: 15px;margin-bottom: 10px;}
.size01 {width:483px;}
.size02 {width:215px; margin-right:30px;}
.contact-right textarea {width:495px;height:102px; font-size:12px;background:#efefef; overflow : hidden;}
.submit-btn input {border: none;background: none repeat scroll 0 0 #f57b20;box-shadow: 0 3px 0 0 rgba(190, 93, 7, 0.75);color: #fff;display: block;font-weight: bold;margin-top: 35px;padding: 8px 0 11px;text-align: center;width: 500px;}



/*********************************/
.footer {width:100%; padding: 18px 0 50px;; background:#77787B;}
.footer-inner {margin:0px auto;width:75%;}
.block-coloum{height:326px; margin-bottom :20px; }
.coloum1 {height:326px; float:left; border-right: 2px solid #696969;width:250px; margin-right:80px;}
.f-title {margin-bottom: -15px;}
.f-title span {border-bottom: 2px solid #dc7a32;color: #313131;display: inline-block;font-size: 16px !important;font-weight: bold;margin-bottom: 21px;padding: 0 10px 14px 0;}
.f-navi{list-style-type:none;margin-left: -40px;}
.f-navi li{padding-bottom: 10px;}
.f-navi li a {text-decoration:none;color:#FFF;}
.coloum2 {height:326px; float:left; border-right: 2px solid #696969; width:250px; color:#FFF;padding-right:70px;}
.f-contact {list-style-type:none; }
.f-contact li{margin-top:10px;line-height: 21px;text-indent: -30px;}
.f-contact li a{color:#FFF; text-decoration:none;}
.f-contact li a:hover{border-bottom:1px solid #FFF;}
.coloum3 {float:right;height:326px;width:250px;}
.footer-bottom {}
.footer-bottom p{ display: inline-block;vertical-align: middle;}
.coppy-right { font-size: 13px;line-height: 18px; padding-right: 19px;width: 445px;float:left; padding-top: 55px; color:#FFF;}
.coppy-right a{text-decoration:none; color:#F17A28;}
.coppy-right a:hover {border-bottom:1px solid #F17A28;}
.coppy-r {margin-top:10px;}
/*********************************/


.clearfix:after,
.box-content:after,
.change-point:after,
#search-box:after,
.warpper:after,
.header:after,
.menu:after,
.menu-box:after,
.footer:after,

.clearfix::after { content: "";clear: both; display: block;   height: 0; line-height: 0; visibility: hidden;}