 body {margin:0px auto;}
.wrapper {width:100%; margin:0px auto;}
.header {background: #EFEFEF;margin:0px auto;}
.header-fix { width:75%;margin: 0px auto; padding:20px;}
.header-right { width:36%;float:right;}
.header-list {list-style-type:none;}
.header-a1 {text-decoration:none; float: left;color:#FFF;background:#0EA2D3;border-bottom:2px solid #587984; padding:5px 42px; margin-right:20px;}
.header-a2 {text-decoration:none; float: left;color:#FFF;background:#F57B20;border-bottom:2px solid #CA8241;padding:5px 45px; }
.menu {width:100%;margin: 0px auto;background:#77787B;padding-bottom: 0px;}
.menu-box {width:75%;margin:0px auto;}
.menu-list {list-style-type:none; margin:0px auto; padding:20px;  text-align:center; }
.list-k {position:relative;float:left;}
.list-k > .sub-menu{display:none; position:absolute;}
.list-k:hover .sub-menu{display:block; }
.sub-menu {list-style-type:none;background: #fff;display: none;position: absolute;left: 0px;top: 35px;width: 195px; padding-left: 0px}
.sub-menu li {    float: none;}
.menu-aa{text-decoration:none;    border-bottom: 1px solid #dfdfdf;color: #5d5d5d;display: block; padding: 13px 12px;}
.menu-aa:hover {background:#EFEFEF;}
.search-btn {float:right;margin-top: -20px;}
.menu-a {text-decoration:none; float:left; color:#FFF;  display: block;position: relative; text-align:center;padding:0px 15px 15px 15px; margin-bottom: -15px; }
.menu-a:hover {background:#77787B;color:#F57B20; border-bottom:2px solid #F57B20;}
#search-box {width:75%;margin:0px auto; background:#77787B;padding-top: 20px;}
#search-box ul {list-style-type:none;}
.search-input {float:left; width:95%; margin-top: -20px;margin-left: -5px; }
input.txt-input{ border:1px solid #77787b; color:#000; padding: 12px; margin-top: -10px; width: 90%;}
.img-close {float:right; width:5%;    margin-top: -20px;margin-right: -35px;}

/*********************************/

.content { width:75%; margin:0px auto; padding: 20px 0px ;}
.khung-content {margin-bottom:20px;}
.h2-title {font-size:20px;margin-bottom:20px;margin-top:0px;}
.box-content {background:#EFEFEF;padding:20px;}
.change-point-left {padding-right: 60px;float: left;}
.heightLine-point {background: #fff;float: left;margin-right: 10px;width: 200px;}
.point-left-title {background: #0ea2d3;min-height: 128px; padding: 22px 10px 0; text-align: center; margin-top: 0px;}
.point-left-title img {border: 0; vertical-align: bottom;}
.point-left-title span {display: block;color: #fff;font-weight: bold;padding-top: 12px; margin-bottom:0px; margin-top:0px;}
.point-left-txt {border-top: 2px solid #0ea2d3;margin-top: 10px;padding: 10px 15px;min-height: 120px;}
.point-left-txt strong {font-weight: bold;}
.orange-txt {color:#f57b20;}
.blue-txt {color:#0ea2d3;}
.change-point-right { background: #fff;float: right;width: 260px;}
.point-right-title {background: #F57B20;min-height: 128px; padding: 22px 10px 0; text-align: center; margin-top: 0px;}
.point-right-title img {border: 0; vertical-align: bottom;}
.point-right-title span {display: block;color: #fff;font-weight: bold;padding-top: 12px; margin-bottom:0px; margin-top:0px;}
.point-right-txt {border-top: 2px solid #F57B20;margin-top: 10px;padding: 10px 15px;min-height: 120px; }
.point-right-txt strong {font-weight: bold;}
.point-box {background: #fff;border-left: 4px solid #f57b20;padding: 13px 10px;margin-top: 20px;}
.point-ul {margin: -25px 0 0 0; list-style-type:none;}
.point-ul li{ margin-top: 25px; position: relative;padding-left: 17px; margin-left:-30px;}
.point-box-gold {width:545px;margin-bottom:20px;}
.point-box-gold img {float:right;margin: 0 0 0 30px;}
.point-box-gold p {font-size: 20px;font-weight: bold;color: #f57b20; text-align: center;padding: 13px 0; width: 300px;margin-top: 0px; border:2px solid #F57B20;}
.heightLine-point01 {background: #fff;float: left;margin-right: 10px;width: 200px;}
.point-right-txt1 {border-top: 2px solid #F57B20;margin-top: 10px;padding: 10px 15px; padding-bottom: 48px;}
.point-box-note {padding: 17px 20px;}
.point-note-title {color: #f57b20;font-size: 20px;font-weight: bold;margin-bottom: 45px; text-align: center;}
.point-note-title span {border-bottom:2px solid #5D5D5D;padding-bottom:17px;}
.point-box-note p strong {font-weight:bold; margin-top:0px;}
.point-note-ul {list-style-type:none;}
.point-note-ul li {margin-left:-40px;padding-top:20px; color:#615D6A;}
.point-note-ul li {margin-left:-40px;padding-top:20px; color:#615D6A;}
.bonus-table {width: 100%; margin-bottom: 20px;}
.size01 {width:200px;color:#FFF; background:#F57B20; padding-bottom:20px;padding-top:20px;}
.size02 {width:460px;color:#FFF; background:#F57B20; padding-bottom:20px;padding-top:20px;}
.size03 {width:299px;color:#FFF; background:#F57B20; padding-bottom:20px;padding-top:20px;}
.bonus-table strong {font-weight:bold;}
.bonus-table td {background:#FFF;border-top:1px solid #EFEFEF;border-right:1px solid #EFEFEF;padding: 10px;}
.orange-txt {color:#F57B20;}
.popup-show {text-decoration:none;color:#F57B20;}
.popup-show:hover {border-bottom:1px solid #F57B20;}
.bonus-table a{text-decoration:none;color:#F57B20;}
.bonus-table a:hover {border-bottom:1px solid #F57B20;}
.link_more {float:right;}
.link_more a {color:#F57B20; text-decoration:none;font-weight:bold;}
.link_more a:hover {border-bottom:1px solid #F57B20;}
/*********************************/
.footer {width:100%; padding: 18px 0 50px;; background:#77787B;}
.footer-inner {margin:0px auto;width:75%;}
.block-coloum{height:326px; margin-bottom :20px; }
.coloum1 {height:326px; float:left; border-right: 2px solid #696969;width:250px; margin-right:80px;}
.f-title {margin-bottom: -15px;}
.f-title span {border-bottom: 2px solid #dc7a32;color: #313131;display: inline-block;font-size: 16px !important;font-weight: bold;margin-bottom: 21px;padding: 0 10px 14px 0;}
.f-navi{list-style-type:none;margin-left: -40px;}
.f-navi li{padding-bottom: 10px;}
.f-navi li a {text-decoration:none;color:#FFF;}
.coloum2 {height:326px; float:left; border-right: 2px solid #696969; width:250px; color:#FFF;padding-right:70px;}
.f-contact {list-style-type:none; }
.f-contact li{margin-top:10px;line-height: 21px;text-indent: -30px;}
.f-contact li a{color:#FFF; text-decoration:none;}
.f-contact li a:hover{border-bottom:1px solid #FFF;}
.coloum3 {float:right;height:326px;width:250px;}
.footer-bottom {}
.footer-bottom p{ display: inline-block;vertical-align: middle;}
.coppy-right { font-size: 13px;line-height: 18px; padding-right: 19px;width: 445px;float:left; padding-top: 55px; color:#FFF;}
.coppy-right a{text-decoration:none; color:#F17A28;}
.coppy-right a:hover {border-bottom:1px solid #F17A28;}
.coppy-r {margin-top:10px;}
/*********************************/


.point-box-gold:after,
.box-content:after,
.change-point:after,
#search-box:after,
.warpper:after,
.header:after,
.menu:after,
.menu-box:after,
.footer:after,

.clearfix::after { content: "";clear: both; display: block;   height: 0; line-height: 0; visibility: hidden;}